<div id="container-instructions">

	<h1>Instructions</h1>

	<hr>

	<div class="instructions well">

      <p>
          In this experiment you will see a series of simple sentences, and
          decide whether each is <strong>true</strong> or <strong>false</strong>.
      </p>

      <p>
          Sentences will appear one at a time in the middle of the screen. <strong>If
          the sentence is true</strong>, such as "A robin has a red breast",
          <strong>press "F"</strong>. <strong>If the sentence is false</strong>, such as "A robin
          is a fish", <strong>press "J"</strong>.
      </p>

      <p>
          Respond as <strong>quickly</strong> and <strong>accurately</strong> as
          possible. Each sentence will remain on the screen until you make a
          response, followed by a blank screen for 2 seconds, and then the next
          sentence.
      </p>
      <p>
          You will have a few 30-second rest periods during the experiment. After
          each rest period, you will be prompted to resume the experiment by
          pressing "SPACE".
      </p>
      <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr>


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
